:root {
    --neutral: #232946;
    --base-100: #fffffe; 
    --neutral-focus:  
}

* {
    margin: 0;
}

#nav-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--neutral);
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid var();
}

.nav-links {
    display: flex;
    list-style: none;
    font-family: serif;
}

.nav-links a {
    text-decoration: none;
    color: var(--base-100);
}